<?xml version="1.0"?>
<XML>
	<SERVER>
		<IP>infectivezone.no-ip.org</IP>
		<PORT>6000</PORT>
	</SERVER>

	<SKIN>Default</SKIN>

	<VIDEO>
		<WIDTH>1024</WIDTH>
		<HEIGHT>768</HEIGHT>
		<COLORBITS>32</COLORBITS>
		<GAMMA>304</GAMMA>
		<FULLSCREEN>TRUE</FULLSCREEN>
		<REFLECTION>true</REFLECTION>
		<LIGHTMAP>true</LIGHTMAP>
		<DYNAMICLIGHT>true</DYNAMICLIGHT>
		<SHADER>true</SHADER>
		<CHARACTORTEXTURELEVEL>0</CHARACTORTEXTURELEVEL>
		<MAPTEXTURELEVEL>0</MAPTEXTURELEVEL>
		<EFFECTLEVEL>0</EFFECTLEVEL>
		<TEXTUREFORMAT>1</TEXTUREFORMAT>
		<NHARDWARETNL>false</NHARDWARETNL>
	</VIDEO>

	<AUDIO>
		<BGM_MUTE>false</BGM_MUTE>
		<BGM_VOLUME>0.283800</BGM_VOLUME>
		<EFFECT_MUTE>false</EFFECT_MUTE>
		<EFFECT_VOLUME>0.986400</EFFECT_VOLUME>
		<SOUND_3D>1</SOUND_3D>
		<A8BITSOUND>false</A8BITSOUND>
		<INVERSESOUND>true</INVERSESOUND>
		<HWMIXING>false</HWMIXING>
		<HITSOUND>true</HITSOUND>
		<NARRATIONSOUND>true</NARRATIONSOUND>
	</AUDIO>

	<MOUSE>
		<SENSITIVITY>1.000000</SENSITIVITY>
		<INVERT>FALSE</INVERT>
	</MOUSE>

	<JOYSTICK>
		<SENSITIVITY>1.000000</SENSITIVITY>
		<INVERT>FALSE</INVERT>
	</JOYSTICK>

	<KEYBOARD>
		<FORWARD alt="-1">17</FORWARD>
		<BACK alt="-1">31</BACK>
		<LEFT alt="-1">30</LEFT>
		<RIGHT alt="-1">32</RIGHT>
		<MELEEWEAPON alt="-1">256</MELEEWEAPON>
		<PRIMARYWEAPON alt="-1">257</PRIMARYWEAPON>
		<SECONDARYWEAPON alt="-1">42</SECONDARYWEAPON>
		<ITEM1 alt="-1">5</ITEM1>
		<ITEM2 alt="-1">6</ITEM2>
		<PREVOUSWEAPON alt="-1">16</PREVOUSWEAPON>
		<NEXTWEAPON alt="-1">18</NEXTWEAPON>
		<RELOAD alt="260">19</RELOAD>
		<JUMP alt="-1">57</JUMP>
		<SCORE alt="-1">15</SCORE>
		<MENU alt="-1">-1</MENU>
		<TAUNT alt="-1">41</TAUNT>
		<BOW alt="-1">7</BOW>
		<WAVE alt="-1">8</WAVE>
		<LAUGH alt="-1">9</LAUGH>
		<CRY alt="-1">10</CRY>
		<DANCE alt="-1">11</DANCE>
		<SCREENSHOT alt="-1">88</SCREENSHOT>
		<RECORD alt="-1">87</RECORD>
		<DEFENCE alt="-1">259</DEFENCE>
		<TOGGLECHAT alt="-1">47</TOGGLECHAT>
		<USEWEAPON alt="-1">258</USEWEAPON>
		<USEWEAPON2 alt="-1">33</USEWEAPON2>
	</KEYBOARD>

	<MACRO>
		<F1>^11 ^22 ^33 ^44 ^55 ^66 ^77 ^88 ^99 ^00</F1>
		<F2>InfectiveGunz | The Zone rocks!</F2>
		<F3>Trollololol, that was where?</F3>
		<F4>lulwut, in the butt?</F4>
		<F5>Don't press that button!</F5>
		<F6>Chum chum chumba chumba boo!</F6>
		<F7>Don't rush me</F7>
		<F8>How about giving me what I want?</F8>
		
	</MACRO>

	<ETC>
		<NETWORKPORT1>7700</NETWORKPORT1>
		<NETWORKPORT2>7800</NETWORKPORT2>
		<BOOST>FALSE</BOOST>
		<REJECT_NORMALCHAT>FALSE</REJECT_NORMALCHAT>
		<REJECT_TEAMCHAT>FALSE</REJECT_TEAMCHAT>
		<REJECT_CLANCHAT>FALSE</REJECT_CLANCHAT>
		<REJECT_WHISPER>FALSE</REJECT_WHISPER>
		<REJECT_INVITE>FALSE</REJECT_INVITE>
		<CROSSHAIR>0</CROSSHAIR>
	</ETC>

	
</XML>
